body {
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} 

.MainInfoBlock {
  background-color: rgba(0, 0, 0, 0);
}

.Text {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  color: white;
}

.NameAgeBlock {
  font-weight: 400;
  font-size: 42px;
  margin: 10px;
}

.AdditionalInfoBlock {
  font-size: 21px;
  font-weight: 200;
  margin-top: -20px;
  margin-bottom: 10px;
}

#HorizontalStack {
  float: left;
}

.CenteredContainer {
  text-align: center;
}

.ContactImage {
  width: 5vw;
  height: 5vw;
  padding: 1vw;
}

.ContactImage:hover {
  transform: scale(1.2); 
}

.ContactsBlock {
  margin-top: 1.5vw;
}

.ImageBlock {
  display: block;
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 50%;
  border-color: white;
  border-width: 0.15vw;
  border-style: solid;
  margin: 3vw auto 0;
}

/* particles.js container */
#particles-js {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.ResumeBlock {
  border-radius: 3vw;
  text-align: center;
  border-color: white;
  border-width: 0.1vw;
  border-style: solid;
  margin: 5vw auto 0;
  width: 50%;
}

.ResumeBlock:hover {
  transform: scale(1.1); 
}

.ResumeText {
  font-weight: 200;
  font-size: 1.8vw;
}

@media only screen and (max-width: 600px) {
  .NameAgeBlock {
    font-size: 28px;
  }

  .AdditionalInfoBlock {
    font-size: 18px;
  }

  .ResumeBlock {
    width: 80%;
  }

  .ResumeText {
    font-size: 14px;
  }
}